.block1 .right {
    width: 350px;
    height: 565px;
    text-align: center;
    background-color: #ffffff;
    border: 5px solid rgb(240, 81, 163);
    border-radius: 17px;
    padding: 20px 35px;
    margin: 0 0 30px 0;
}

.timer {
    padding-bottom: 25px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
}

.timer-block {
    position: relative;
    display: inline-block;
}

.delimiter {
    display: inline-block;
    vertical-align: top;
    line-height: 64px;
    font-size: 40px;
    margin: 0 10px;
    color: #0a8381;
}

.timer-item {
    background-color: rgb(0, 147, 145);
    box-shadow: 0px 8px 15px 0px rgba(0, 147, 145, 0.35);
    width: 55px;
    height: 64px;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
}

.type-timer {
    display: block;
    position: absolute;
    bottom: -20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #0a8381;
    width: 100%;
    left: 0;
}

.for-end {
    color: #373737;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.price-form {
    display: inline-block;
    height: 90px;
    width: 100%;
    text-align: left;
    padding-top: 10px;
}

.price-form__item {
    width: 50%;
    float: left;
}

.price-form__old:after {
    content: '';
    border: 1px solid rgb(240, 81, 163);
    width: 90%;
    display: block;
    transform: rotate(169deg);
    margin-top: -36px;
}

.price-form__old .num {
    font-size: 39px;
    color: #373737;
    line-height: 45px;
}

.price-form__old span.name {
    font-size: 14px;
    line-height: 16px;
    color: #373737;

}

.price-form__old span.currency {
    font-size: 19px;

}

.price-form__new .num {
    font-size: 43px;
    font-weight: 800;
    color: #22a19f;
    line-height: 50px;
}

.price-form__new span.name {
    font-size: 14px;
    line-height: 16px;
    color: #373737;
    font-weight: bold;
}

.price-form__new span.currency {
    font-size: 21px;

}

::-webkit-input-placeholder {
    color: #2e2e2e;
}

::-moz-placeholder {
    color: #2e2e2e;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #2e2e2e;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #2e2e2e;
}

.form input, select {
    width: 100%;
    border: 1px solid #b4b4b4;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 0;
    box-shadow: none;
    color: #2e2e2e;
}

.form option {
    color: #2e2e2e;
    font-size: 17px;
    padding: 10px;
    display: inline-block;
}

.form select {
    /* *for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    background-image: url("../img/drop.png");
    background-position: 93% center;
    background-repeat: no-repeat;
}

.form button {
    font-size: 34px;
    line-height: 80px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: -moz-linear-gradient(90deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
    width: 302px;
    text-transform: uppercase;
    font-weight: bold;
    height: 80px;
    box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.12), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #ffffff;
    margin-left: -15px;
    margin-top: 10px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.form button:hover {
    animation: button 3s linear 0s infinite alternate;
}

@keyframes button {
    0% {
        background-image: -moz-linear-gradient(100deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -webkit-linear-gradient(100deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -ms-linear-gradient(100deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        width: 302px;
    }

    50% {
        background-image: -moz-linear-gradient(140deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -webkit-linear-gradient(140deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -ms-linear-gradient(140deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        width: 90%;
        font-size: 30px;
    }
    100% {
        background-image: -moz-linear-gradient(180deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -webkit-linear-gradient(180deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        background-image: -ms-linear-gradient(180deg, rgb(233, 14, 127) 0%, rgb(253, 144, 200) 100%);
        width: 302px;
    }
}

.owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-dot{
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 3px;
    background-color: rgb(233, 14, 127);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.owl-dot.active{
    height: 7px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hidden{
    display: none;
}


.md{
    max-width: 750px;
    background-color: #ffffff;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    max-height: 80vh;
    overflow-y: scroll;
}

.md .close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    z-index: 9;
    cursor: pointer;
}

.body-out{
    position: fixed;
    width: 100%;
}

#overlay{
    content: '';
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

@media screen and (max-width: 976px) {
    .block1{
        background-size: cover;
    }

    .block1 .right{
        margin-right: 20%;
    }
    .end{
        height:auto;
    }
    .form button:hover{
        animation: none;
    }
}

@media screen and (max-width: 659px) {
    .block1 .right{
        margin-right: 0%;
        width: 100%;
        padding: 15px;
    }
    .form button{
        width: 100%;
        margin-left: 0;

    }

}